/* General CSS */
.NavBar {
	background-color: gold;
}

.dropdown-menu {
	background-color: gold
}

a:hover {
	background-color: #ffdf32
}


/* Specific CSS */
#navbarDropdownMenuLink{
	color: #7a0019;
}

.dropdown-menu > .dropdown-item {
	color: maroon;
	background-color: gold
}

.dropdown-menu > .dropdown-item:hover {
	background-color: #ffdf32
}

#navListItem {
	padding-top: 0px
}


/* VH Lab and Dept of Surgery heading style */

.navbar-brand {
	text-decoration: none;
	margin-right: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.vhColor {
	color: maroon
}

.navbar-nav {
	padding-left: 10px;
} 

#pageTitle {
	font-size: 26px
}

#surgeryTitle {
	font-size: 16px
}

/* ===========================MEDIA QUERIES-iPad & Phones=============================================== */
@media only screen and (max-width: 768px) {
	.navbar-nav {
		position: fixed;
		background-color:gold;
		z-index: 3;
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
		text-align: left;
		margin-left: 570px;
		padding-left: 10px;
		padding-right: 10px
	}
}

@media only screen and (max-width: 668px) {
	.navbar-nav {
		position: fixed;
		background-color:gold;
		z-index: 3;
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
		text-align: left;
		margin-left: 0px;
		padding-left: 10px;
		padding-right: 10px
	}
}