.newsContainer {
    margin-bottom: 20px;
    /* border-bottom: solid 1.4px black */
}

.pageTitle {
    margin-bottom: 60px
}

.pageTitle > h1 {
    color:#46000E
}

h3,p {
    color: #46000E
}

/* .imageDiv {
    display: inline-block;
    vertical-align:top;
    margin-left: 20px

} */

/* .textDiv {
    display: inline-block;
    margin-top: 50px;
  
} */

#searchbox-container {
    float: right
}

#searchbox {
    margin-left: 5px
}
